* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: "microsoft yahei";
}

body {
	background-image: url(../img/beijing.jpg);
	background-repeat: repeat;
}

a:hover {
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.clear {
	clear: both;
}

.top {
	background-color: #032950;
	height: 32px;
	text-align: right;
	border-bottom: 1px solid #216493;
}

.top .jrsc {
	width: 1140px;
	padding-right: 60px;
	margin-left: auto;
	margin-right: auto;
}

.top .jrsc a {
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	color: #fff;
}

.top .jrsc span {
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

.head {
	background-color: #11406c;
	height: 140px;
}

.con {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	height: 100px;
	width: 340px;
	float: left;
	padding-left: 20px;
	padding-top: 10px;
}

.soso {
	float: right;
	width: 400px;
	padding-top: 15px;
}

.soso .link {
	font-size: 14px;
	color: #fff;
	line-height: 45px;
}

.soso .link a {
	font-size: 14px;
	color: #fff;
	padding-left: 6px;
	padding-right: 6px;
}

.soso .so {
	padding-left: 7px;
}

.ddsmoothmenu {
	font-size: 14px;
	color: #fff;
	width: 100%;
	height: 28px;
	line-height: 28px;
	margin-left: 11px;
}

.ddsmoothmenu ul {
	list-style: none;
}

.ddsmoothmenu ul li {
	position: relative;
	float: left;
}

.ddsmoothmenu ul a {
	font-size: 14px;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
}

.ddsmoothmenu ul a:hover {
	background: #FFFFFF;
	color: #333333;
}

.ddsmoothmenu ul li ul {
	background: url(../img/navigationbg.png) repeat 0 0;
	position: absolute;
	left: 0;
	display: none;

}

.ddsmoothmenu ul li ul li a {
	border-top-width: 0;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 0px 0px;
	width: 100%;
	line-height: 28px !important;
}

.ddsmoothmenu ul li ul li a span {
	display: block;
	padding-left: 10px;
}

.ddsmoothmenu ul li ul table tbody tr td a {
	font-size: 12px !important;
}

.ddsmoothmenu ul li:hover ul {
	display: block;
}

.ddsmoothmenu ul li:hover ul li {
	display: block;
}

.ul_2,
ul_10,
ul_12 {
	top: 37px;
	visibility: visible;
	width: 86px;
	display: none;
}

.ul_2 li {
	width: 100%;
}

.ul_3 {
	display: none;
	top: 37px;
	visibility: visible;
	width: 480px;
}

.ul_3 li {
	width: 25%;
	float: left;
}

.ul_4 {
	display: none;
	top: 37px;
	visibility: visible;
	width: 86px;
}

.ul_4 li {
	width: 100%;
}

.ul_5 {
	display: none;
	top: 37px;
	visibility: visible;
	width: 160px;
}

.ul_5 li {
	width: 50%;
	float: left
}

.ul_6 {
	top: 37px;
	visibility: visible;
	width: 360px;
}

.ul_6 li {
	width: 50%;
	float: left
}

.ul_6 li table tbody tr td a {
	font-size: 12px;
}

.ul_7 {
	display: none;
	top: 37px;
	visibility: visible;
	width: 170px;
}

.ul_7 li {
	width: 50%;
	float: left
}

.ul_8 {
	display: none;
	top: 37px;
	visibility: visible;
	width: 86px;
}

.ul_8 li {
	width: 100%;
}

.ul_9 {
	display: none;
	top: 37px;
	visibility: visible;
	width: 232px;
}

.ul_9 li {
	width: 50%;
	float: left;
}

.ul_10 {
	display: none;
	top: 37px;
	visibility: visible;
	width: 115px;
}

.ul_10 li {
	width: 100%;
	float: left
}

.ul_11 {
	display: none;
	top: 37px;
	visibility: visible;
	width: 100px;
}

.ul_11 li {
	width: 100%;
	float: left;
}

.ul_12 li {
	width: 100%;
	float: left
}

.ul_13 {
	display: none;
	top: 37px;
	visibility: visible;
	width: 138px;
}

.ul_13 li {
	width: 50%;
	float: left
}

.ul_14 {
	display: none;
	top: 37px;
	visibility: visible;
	width: 196px;
	margin-left: -110px;
}

.ul_14 li {
	width: 50%;
	float: left
}

* html .ddsmoothmenu {
	height: 1%;
}

.gundong{
	width: 1200px;
	height: 320px;
	margin: 0 auto;
}

.con1{
	width: 1200px;
	height: 75px;
	background: #00467f;
	border-bottom: 2px solid #6d6d6d;
	margin: 0 auto;
}

.zhong{
	background: #00467f;
	height: 75px;
	border-bottom: 2px solid #6d6d6d;
	width: 1000px;
	margin: 0 auto;
}

.zhong ul{
	width: 1040px;
	margin: 0 auto;
	list-style: none;
}

.zhong ul li{
	width: 160px;
	float: left;
	text-align: center;
	position: relative;
	padding-top: 10px;
	padding-right: 24px;
}

.zhong ul li span{
	float: left;
	width: 54px;
}

.zhong ul li b{
	float: right;
	width: 93px;
	color: #fff;
	font-size: 18px;
	line-height: 54px;
}

.zhong ul li ul {
	display: none;
	width: 100%;
}

.zhong ul li ul li {
	height: 28px;
	padding: 0;
	width: 50%;
	float: left;
	text-align: left;
}

.zhong ul li ul li a {
	line-height: 28px;
	display: block;
	font-size: 12px;
	padding-left: 12px;
	color: white;
}

.zhong ul li:hover ul {
	display: block; 
	position: absolute; 
	width: 200px; 
	bottom: 77px; 
	left: 0px; 
	background: rgba(13,89,167,0.7); 
	color: #fff;
	z-index: 9;
}

.zhong ul li:hover ul li:hover a {
	background: #fff; 
	color: #000;
}

.con2{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.con2 a{
	color: black;
	font-size: 16px;
}

.tupian{
	width: 370px;
	height: 300px;
	float: left;
	background: white;
	padding-top: 30px;
	padding-left: 30px;
}

.jdyw{
	width: 400px;
	height: 300px;
	float: left;
	padding-top: 30px;
	background: white;
}

.xueshuxinxi{
	width: 400px;
	height: 300px;
	float: left;
	padding-top: 30px;
	background: white;
}

.zuo{
	width: 1050px;
	height: 500px;
	background: white;
	float: left;
}

.tiao{
	width: 150px;
	height: 500px;
	background: white;
	float: left;
}