* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: antiquewhite;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 10px;
  background: url(activity01-image.jpg) no-repeat;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6),
    0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

.item:nth-child(2) {
  background: url(blur-close-up-code-computer-546819.jpg) no-repeat;
}

.item:nth-child(3) {
  background: url(adult-business-computer-contemporary-380769.jpg) no-repeat;
}

.info {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(63, 147, 147, 0.8);
  border-radius: 50%;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.info h3 {
  height: 140px;
  font-size: 22px;
  color: #fff;
  margin: 0 30px;
  padding-top: 45px;
  text-transform: uppercase;
}

.info p {
  opacity: 0;
  font-size: 12px;
  color: #fff;
  font-style: italic;
  margin: 0 30px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out 0.4s;
}

.info a {
  display: block;
  color: #fff;
  font-style: normal;
}

.item:hover {
  box-shadow: inset 0 0 1px 16px rgba(255, 255, 255, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.1);
}

.item:hover .info {
  opacity: 1;
  transform: scale(1);
}

.item:hover .info p {
  opacity: 1;
}

.info p a:hover {
  color: #fff222;
}
